@using OnlineShop.Models


@model ProductInformation

<script src="~/Scripts/jquery-3.4.1.js"></script>
<link href="~/Content/ProductsPage.css" rel="stylesheet"/>

<div class="alert-info" large>
	<h1>Products</h1>
</div>

<hr />

<table class="table table-striped">

	<tr>
		<th>Name</th>
		<th>ListPrice</th>
		<th>ProductCategory</th>
		<th>ProductNumber</th>
		<th>Weight</th>
		<th>Color</th>
		<th>Modiefied Data</th>
		<th style="width:95px">&nbsp;</th>

	</tr>
	
	@foreach (Product product in Model.Products)
	{
		
		<tr class="productRow">
			<td>@product.Name</td>
			<td>@product.ListPrice</td>
			<td>@product.ProductCategory.Name</td>
			<td>@product.ProductNumber</td>
			<td>@(product.Weight.HasValue ?product.Weight.Value.ToString("N2"):"0.00")</td>
			<td>@product.Color</td>
			<td>@product.ModifiedDate</td>
			<td> 
				<a class="btn btn-primary editButton" href="/Home/EditProduct?ProductID=@product.ProductID">
					Edit
				</a>
				<button class="btn btn-danger editButton deleteButton" productID="@product.ProductID">X</button>
			</td>
		</tr>
	}
</table>

<script>

	function errorOnDeletingProduct(result) {
		toastr.error("Server error: " + result);
		console.log(result);
	}

	function deleteProductById(id) {

		var url = "/Home/DeleteProduct?productID=" + id;

		$.post(url, {},
			function (result) {
				if (result.Successful) {
					toastr.success('Product Deleted!');
					$("#product_" + id).fadeOut();
				}
				else {
					toastr.error(result.Error);
				}
			})
			.fail(errorOnDeletingProduct);
	}

	$(".deleteButton").click(function () {
		var id = $(this).attr("productID");
		deleteProductById(id);
	});

</script>

<a href="/Home/CreateProduct">Create a New Product</a>


